/* Section 1 */
@media only screen and (max-width: 400px) {
  .inicial{
    flex-direction: column;
    height: 700px;
  }
  .FAQ {
    height: 550px;
  }
  
.initial-box-img{
  width: 80%;  
}
  .circle{
    display: flex;
    width: 100%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .servicos{
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 400px) {

  .faq-question{
    font-size: large;
  }
}