/* Section 1 */
@media only screen and (max-width: 400px) {
  .inicial{
    flex-direction: column;
    height: 700px;
  }
  .FAQ {
    height: 800px auto;
  }
  .faq-container-quests{
    height: auto;
  }
.initial-box-img{
  width: 80%;  
}
  .circle{
    display: flex;
    width: 100%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .servicos{
    margin-bottom: 2rem;
  }
  .flip-card{
    height: 550px;
  }
  .flip-card{
    width: 90%;
  }
  .sobre img{
    height: 200px;
    width: 90%;
  }
  .sobre{
    height: 600px;
  }
  .inicial-title{
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {

  .faq-question{
    font-size: large;
  }

  
}

@media only screen and (max-width: 580px) {
  .service{
    width: 90%;
    margin-top: 50px;
  }
  .service-img{
    height: 200px;
    width: 90%;
  }
  .price{
    width: 90%;
  }
}