/* Nav */
@media only screen and (max-width: 770px) {
  nav{
    margin-top: 5px;
    display: flex;
    width: 7rem;
    height: auto;
    position: absolute;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-right: 5%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
  }

  .home{
    width: 100%;
    display: flex;
    background: #F4DA9A;
    border: none;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    align-items: center;
    position: relative;
    z-index: 300;
    font-size: x-large;
  }
  nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  nav li{
    margin-top: 10px;
    font-size: small;
    text-align: center;
}
}
/* Home efect */
@media only screen and (max-width: 770px) {

 .hide{
  display: none;
}

 .active{
  display: flex;
  transition: 1s;
  
}

.navClose{
  width: 1rem;
}
}

/* Section 1 */
@media only screen and (max-width: 770px) {
  .inicial{
    flex-direction: column;
    height: 650px;
  }
  .circle{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    
  }
  .icon{
    width: 50%;
  }
}

/* Section 2 */

@media only screen and (max-width: 770px) {
  .flip-card-front{
    flex-direction: column;
    align-items: center;
  }
  .flip-card-back{
    flex-direction: column-reverse;
    align-items: center;
  }
  .flip-card{
    width: 90%;
    height: 500px;
  }
  .text-box{
    width: 90%;
  }

  .img-box {
    height: 100%;
    width: 100%;
  margin: 5px;
}
.img-box img{
  border-radius: 5px;
}

}

/* Section 3 */

@media only screen and (max-width: 770px) {
  .servicos{
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;
    height: 900px;
  }
  .service{
    width: 70%;
    height: 600px;
    margin-top: 50px;
  }

  .service-img{
    height: 200px;
    width: 70%;
  }
/* Show List */

}



@media only screen and (max-width: 1000px) {
 .prices{
  height: 100px;
 }
  .service{
    width: 40%;
    height: auto;
    margin-top: 50px;
  }
  .service-img{
    height: 200px;
    width: 90%;
  }
}

@media only screen and (max-width: 770px) {
  .prices{
   height: 1000px;
   padding-top: 20px;
  }
   .service{
     width: 80%;
     height: auto;
     margin-top: 50px;
   }
   .service-img{
     height: 200px;
     width: 90%;
  
    }
    .flip-card{
      height: 600px;
    }
    .sobre{
      height: 600px;
    }
 }
/* Section 4 */

@media only screen and (max-width: 770px) {
  .prices{
    flex-direction: column;
    height:1400px;
  }
  .price{
    width: 70%;
    margin-top: 20px;
  }
  .servicos{
    height:1000px;
  }
}

/* Section 5 */

@media only screen and (max-width: 770px) {
  .faq-container-quests{
    width: 70%;
  }
  .FAQ{
    display: flex;
    height: 750px;
    justify-content: flex-end;
    padding-bottom: 50px;
  }
}